.nav{
    width: 100%;
    background-color: #023047;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px ;
    color: white;
}

.logo img{
    height: 50px ;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;

}

.sections{
    display: flex;
    align-items: center;
    gap: 30px;
}

.sections p{
    font-size: 24px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: aliceblue;

}

.sections p a{
    color: aliceblue;
    text-decoration: none;

}

.sections p span{
    width: 100%;
    height: 4px;
    background-color: red;
    border-radius: 10px;
    animation: span 0.5s linear 0s 1;
}

@keyframes span {
    from{
        width : 0%
    }

    to{
        width: 100%;
    }
    
}

@media (max-width : 440px) {
    .nav{
        width: 400px;
        background-color: red;
    }

    .sections{
        display: flex;
        flex-direction: column;
        display: none;
    }
    
}